<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization Code</title>
</head>
<body>
    <h1>Authorization Code</h1>
    <p>Your authorization code is:</p>
    <p><strong><%= authorizationCode %></strong></p>
    <h1>Location</h1>
    <p>Your locations is:</p>
    <p><strong><%= location %></strong></p>
    <h1>Account server </h1>
    <p>Your server is:</p>
    <p><strong><%= accounts %></strong></p>
    
    <form action="/oauth/get-tokens" method="POST">
        <input type="hidden" name="authorizationCode" value="<%= authorizationCode %>">
        <input type="hidden" name="location" value="<%= location %>">
        <input type="hidden" name="accounts" value="<%= accounts %>">
        <button type="submit">Get Tokens</button>
    </form>
</body>
</html>
