<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoho Tokens</title>
</head>
<body>
    <h1>Access Token</h1>
    <p><strong><%= accessToken %></strong></p>
    
    <h1>Refresh Token</h1>
    <p><strong><%= refreshToken %></strong></p>
    
    <h1>Token Type</h1>
    <p><strong><%= tokenType %></strong></p>
    
    <h1>Expires In</h1>
    <p><strong><%= expiresIn %></strong></p>

    <h1>api domain</h1>
    <p><strong><%= apiDomain %></strong></p>
</body>
</html>
